.filterMain {
  margin-top: 50px;
}

.filterMain > .filterContent,
.filterContent > .right > select {
  font-size: 27px;
}

.filterContent {
  width: fit-content;
  margin: auto;
}

.filterContent > .left {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.filterContent > .right {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  font-size: 32px;
  margin-left: 20px;
}

.filterContent > .right > .search {
  margin: auto;
  padding: 0 10px 0 10px;
  background-color: rgb(67, 161, 255);
  color: white;
  border-radius: 0.3em;
}

.filterContent > .right > .search:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.filterContent > .left,
.filterContent > .right {
  border: 1px solid black;
  border-radius: 0.2em;
}
