.filterMain {
  background-color: white;
  width: fit-content;
  padding: 20px;
  position: absolute;
  top: 150px;
  left: 45%;
}

.filterContent > .filters > .label > select {
  font-size: 28px;
  min-width: 170px;
}
