.filterMain {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 480px;
}

.filterContent {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid black;
}

.labelField {
  border: 0;
  border-bottom: 1px solid black;
  outl
}
